<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static "js/dbqueries.js" %}"></script>
    <!--<script src="{% static "js/jquery.js" %}"></script>-->
    <script src="{% static "js/bootstrap.js" %}"></script>

  </head>
  <body>
    <!-- Navigation section -->
      <nav class="navbar navbar-expand-md navbar-light bg-gray fixed-top">

        <a class="navbar-brand" href="#">

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'food_waste_management_app:index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'food_waste_management_app:register' %}">Sign up</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'food_waste_management_app:user_logout' %}">Log out</a>
            </li>
              {% else %}
            <li class='nav-item'>
              <a class="nav-link" href="{% url 'food_waste_management_app:user_login' %}">Log in</a>
            </li>
            {% endif %}

          </ul>
        </div>
      </nav>
    <!-- End of Navigation -->
    {% block body_block %}

    {% endblock %}


  </body>
</html>
