<!DOCTYPE html>
{% extends "food_waste_management_app/base.html" %}
{% load staticfiles %}
{% block body_block %}
    <h2>Capture Page</h2>
    <video id='video' playsinline autoplay></video>
    {% csrf_token %}
    <button class='btn btn-danger' id='barcodeCap'>Capture Barcode</button>
    <button class='btn btn-info' id='ocrCap'>Capture Expiry Date</button>

    <script>
'use strict';

const video = document.getElementById('video');
const barcodeCap = document.getElementById("barcodeCap");
const ocrCap = document.getElementById("ocrCap");
const errorMsgElement = document.querySelector('span#errorMsg');

const dimensions = {
  audio: false,
  video: {
    width: 640, height: 480
  }
};

async function startCapture() {
  try {
    const stream = await navigator.mediaDevices.getUserMedia(dimensions);
    successHandler(stream);
  } catch (e) {
    errorMsgElement.innerHTML = `navigator.getUserMedia error:${e.toString()}`;
  }
}

function successHandler(stream) {
  window.stream = stream;
  video.srcObject = stream;
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

function postImage(type) {
    let img = new ImageCapture(stream.getVideoTracks()[0])
    img.takePhoto().then(
        function(blob) {
            let reader = new FileReader();
            $.post("/food_waste_management_app/capture_handler/",
                {data : reader.readAsDataURL(blob), type: type})
        },
        function(blob) {
            $.post("/food_waste_management_app/capture_handler/",
                {data : 0, type: "none"})
        }
    )
}

startCapture();

barcodeCap.addEventListener("click", function() {
    postImage("barcode");
})
ocrCap.addEventListener("click", function() {
    postImage("ocr");
})
    </script>
{% endblock %}
