<!DOCTYPE html>
{% extends "food_waste_management_app/base.html" %}
{% load staticfiles %}
{% block body_block %}
    <h2>Capture Page</h2>
    <video id='video' playsinline autoplay></video>
    <button id='cap'>Capture</button>
    <canvas id='canvas' width="640" height="480"></canvas>
    <script>
'use strict';

const video = document.getElementById('video');
const canvas = document.getElementById('canvas');
const snap = document.getElementById("cap");
const errorMsgElement = document.querySelector('span#errorMsg');

const constraints = {
  audio: false,
  video: {
    width: 1280, height: 720
  }
};

// Access webcam
async function init() {
  try {
    const stream = await navigator.mediaDevices.getUserMedia(constraints);
    handleSuccess(stream);
  } catch (e) {
    errorMsgElement.innerHTML = `navigator.getUserMedia error:${e.toString()}`;
  }
}

// Success
function handleSuccess(stream) {
  window.stream = stream;
  video.srcObject = stream;
}

// Load init
init();

// Draw image
var context = canvas.getContext('2d');
cap.addEventListener("click", function() {
	context.drawImage(video, 0, 0, 640, 480);
});
    </script>
{% endblock %}
