<!DOCTYPE html>
{% extends "food_waste_management_app/base.html" %}
{% load staticfiles %}
{% block body_block %}
{% if user.is_authenticated %}

  {% if not dict %}<b>You have added no food.</b>{% endif %}
  {% for key, value in dict.items %}
  <table>
    <tr>
      <th> Product name </th>
      <th> Expiration date </th>
    </tr>

    <tr>
      <td> {{value.product}} </td>
      <td> {{value.date}} </td>
    </tr>


  </table>
  {% endfor %}
{% endif %}
{% endblock %}

<!--Fetch both the key and the value from the dictionary in the loop:-->

<!--{% for key, value in mydict.items %}-->
    <!--{{ value }}-->
<!--{% endfor %}-->
