{% extends "food_waste_management_app/base.html" %}
{% load staticfiles %}


<title>Food Waste Management</title>
{% block body_block %}


  <img class='front-image' src="{% static 'images/front-page.png' %}" />

      {% if user.is_authenticated %}
      <div class="box2">
        <div class="text2">
            <!--<button class="btn btn-primary" onclick = "foo" >Foo</button>-->
            <!--<button class="btn btn-primary" onclick = "console.log('button pressed');foo();" >TestFoo</button>-->

          <button type="button" class="btn btn-success btn2" onclick="console.log('button pressed');list_user_products()">
              <a class="a-button">FOOD MONITOR</a></button>
                                <!--href="{% url 'food_waste_management_app:food_monitor' %}">FOOD MONITOR</a></button>-->


          <button type="button" class="btn btn-success btn3" onclick="console.log('button pressed');add_user_product()">
              <a class="a-button" ></a>  <i class="fa fa-camera" aria-hidden="true"></i></button>
            <!--href="{% url 'food_waste_management_app:food_monitor' %}"></a>-->

<div class="container">
  <div class="row">
      <div class="col">
        <img id="front" src="{% static "images/front-page.png" %}" alt = '' />
      </div>
      <div class="col">
        <p id="front-text"> Making food management easy so you can reduce food waste, save time,
          money and the planet. </p>


        <div class="col">
          <button class="btn btn-primary" onclick="add_user_product()" >SCAN</button>
        </div>

        <div class="col">
          <button class="btn btn-primary" onclick="list_user_products">LIST PRODUCTS</button>
        </div>


<!--<button class="btn btn-danger" onclick = "removebookmark({{ concert.concertID}});hideparent(this, true);" >Remove Bookmark</button>-->


      </div>
      {% else %}
      <div class="box">
        <div class="text">
          <h1> Say no to food waste with us! </h1>
        </div>
      </div>
    {% endif %}
  <div>

{% endblock %}
