{% extends "food_waste_management_app/base.html" %}
{% load staticfiles %}

{% block body_block %}
<title>Food Waste Management</title>

<div class="container">
  <div class="row">
      <div class="col">
        <img id="front" src="{% static "images/front-page.png" %}" alt = '' />
      </div>
      <div class="col">
        <p id="front-text"> Making food management easy so you can reduce food waste, save time,
          money and the planet. </p>
        <div class="col">
          <button type="button" class="btn btn-primary" >TEST</button>
        </div>
      </div>
  </div>
</div>
{% endblock %}
