{% extends "food_waste_management_app/base.html" %}
{% load staticfiles %}


<title>Food Waste Management</title>
{% block body_block %}


  <img class='front-image' src="{% static 'images/front-page.png' %}" />

      {% if user.is_authenticated %}
      <div class="box2">
        <div class="text2">
            <!--<button class="btn btn-primary" onclick = "foo" >Foo</button>-->
            <!--<button class="btn btn-primary" onclick = "console.log('button pressed');foo();" >TestFoo</button>-->

          <button type="button" class="btn btn-success btn2" onclick="console.log('button pressed');list_user_products()">
              <a class="a-button">FOOD MONITOR</a></button>
                                <!--href="{% url 'food_waste_management_app:food_monitor' %}">FOOD MONITOR</a></button>-->


          <button type="button" class="btn btn-success btn3" onclick="console.log('button pressed');add_user_product()">
              <a class="a-button" ></a>  <i class="fa fa-camera" aria-hidden="true"></i></button>
            <!--href="{% url 'food_waste_management_app:food_monitor' %}"></a>-->

        </div>
      </div>
      {% else %}
      <div class="box">
        <div class="text">
          <h1> Say no to food waste with us! </h1>
        </div>
      </div>
    {% endif %}
  <div>

{% endblock %}
