{% extends "food_waste_management_app/base.html" %}
{% load staticfiles %}
{% block body_block %}


<div>
  <img class='front-image' src="{% static 'images/front-page.png' %}" />
<div class="login-form">
  <h1>Please Login</h1>
  <form action="{% url 'food_waste_management_app:user_login' %}" method="post">
    {% csrf_token %}
    <label for="username">Username: </label>
    <input type="text" name="username" placeholder="Enter username">

    <label for="password">Password:</label>
    <input type="password" name="password">

    <input type="submit" class="btn btn-warning" value="Login">
  </form>
</div>
</div>

{% endblock %}
