<!DOCTYPE html>
{% extends "food_waste_management_app/base.html" %}
{% load staticfiles %}

{% block body_block %}

<img class='front-image' src="{% static 'images/front-page.png' %}" />
<div class='form-register'>

  {% if registered %}
  <div class="form-register2">
    <h2>Thank you for registering!</h2>
  </div>  
  {% else %}
    <div class='container'>
      <h1> Sign up: </h1>

      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        <input type="submit" class="btn btn-warning" value="Register">
      </form>
    </div>

  {% endif %}
</div>
{% endblock %}
